<link rel="stylesheet" href="/Views/Components/CardProduto.css">
<div class="container-card-item">
    <img src="/img/logo.png" alt="" width="100px" height="100px">
    <div class="container-item-conteudo">
        <div class="container-produtor-descricao">
            <h2>Pastel de Pizza</h2>        
            <i class="produto-descricao">Presunto e queijo</i>
        </div>
        <div class="container-preco">
            <i>R$ 10,00</i>    
        </div>
    </div>
    <button class="button-produto-adicionar">Adicionar</button>
</div>