<link href="/views/Components/HeaderProdutos.css" rel="stylesheet" />

<div class="header-container">
    <div class="contaner-input-search">
        <input class="input-search" placeholder="Buscar" type="text">
        <i class="bi-search" ></i>
    </div>
    <div class="container-header-options">
        <div>
            <i class="bi-person"></i>
            <a href="">Garçom</a>
        </div>
        <div>
            <i class="bi-cart"></i>
            <a href="">Pedidos</a>
        </div>
    </div>
</div>